.widget{
    background-color: #003546;
    border: 1px solid #003546;
    border-radius: 20px;
    height:350px;
    width:1304px; 
    padding-bottom: 30px;
}

.widget img{
    vertical-align: top;
    float:right;
    border: 1px solid #003546;
    border-radius: 20px;
    width:344px;
    height: 283px;
}

.widget p{
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: PT Sans; 
    font-style: bold;
    font-size:48px
}

.widget a{
    text-justify: center;
    text-decoration:none;
    color: #808080;
    font-family: PT Sans;
    font-weight: lighter;
    font-style:oblique;
    font-size:40px
}