.main{
    display: flex;
    align-content: center;
}

.greenCard{
    float: left;
    width: 45%;
    padding:30px;
}

.blueCard{
    float: left;
    width: 95%;
    padding:30px;
}

.widgets{
    display: block;
    height:566px;
    width:1304px;
}

.blueWidget{
    padding-bottom: 15px;
    padding-left: 30px;
}

.greenWidget{
    padding-top: 15px;
    padding-left: 30px;
}
