.menu{
    display:flex;
    justify-content:left;
    align-items:center;
}


.menu a{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    font-family: PT Sans; 
    font-style: bold;

    border: 3px  solid  #003546;
    padding-left: 30px;
    padding-right: 100px;
    position: relative;
}

.menu a:hover{
    text-decoration:none;
    border-top-width: 3px;
    border-top-color: #fff; 
    border-top-left-radius: 20px;

    border-left-color:  #fff;
    border-bottom-left-radius: 20px;
    border-bottom-color: #fff;
    border-bottom-width: 3px;
}

.menu p{
    text-align:left;
    color: #fff;
    font-family: PT Sans; 
    font-style: bold;
    font-size:18px;
    padding-right:20px;
}

.menu-area{
    text-align: center;
    display: inline-block;
    align-items: auto;
    background-color: #003546;
}
